.projects{
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2rem 0;
}
.projects .carousel::-webkit-scrollbar{
   display: none;
}
.projects .carousel{
    
    scroll-behavior: smooth;
    overflow-x: auto;
    display: flex;
    width: 75vw;
    scroll-snap-type: x mandatory;
}
.buttons{
    margin: 2rem 0;
    text-align: center;
}
.buttons button{
    text-align: center;
    background-color: transparent;
    border: none;
}