.Menu{
    position: fixed;
    top: 45%;
    width: 100%;
    animation: showMenu .4s; 
    z-index: 1;
}
.MenuOptions{
   display: flex;
   justify-content: space-around;
   align-items: center;
  
   
}
.MenuOptions h1:hover{
    scale: 1.2;
    transition-duration: 0.5s;
    
}

@keyframes showMenu {
    from{
        opacity: 0;
        width: 0vh;
    }

    to{
        opacity: 100;
        width:100%;
        
       
    }
}