.Menu{
    display: flex;
    position: fixed;
    transition: all, .3s;
    justify-content: space-around;
    width: 95%;
    margin-left: 6rem;
    z-index: 1;
    height: 100vh;
    background-color: red;
     
  

}
.MenuOptions{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   font-size: 3rem; 
   text-decoration: none;
   animation: showMenu .4s;
  
}

.MenuOptions a{
    text-decoration: none;
    color: #8f8b8b;
}


.MenuOptions li:hover{
  

    scale: 1.2;
    transition-duration: 0.5s;
    
}

@keyframes showMenu {
    from{
       transform: translateX(0%)
    }

    to{
        transform: translateX(100%)
    }

  
}