.details{
   justify-content: space-between;
   width: 30%;
   margin:auto 1rem;
   text-align: center;
   flex: none;
   scroll-snap-align: start;
}

.details img{
   height: 100%;
   width: 100%;
}

