.App{
   
    z-index: 10;
}
.lateralBar{
    display: flex;
    position: fixed;
    width: 100%;
   
    
}

.contentArea{
    box-sizing: border-box;
    padding: 0 8rem; 
}

.contentAreaBlur{
    box-sizing: border-box;
    padding: 0 8rem;
    filter: blur(10px);
    
}
